@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./styles/progressYScroll.css");

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf");
}

@font-face {
  font-family: "Monaco";
  src: url("./fonts/Monaco.ttf");
}

@font-face {
  font-family: "Neo";
  src: url("./fonts/Neo.ttf");
}
